<div clas="row justify-content-center my-3">
  <div class="col-xs-12 col-md-6 col-lg-4">
    <form [formGroup]="form">
      <mat-card>
        <mat-card-content>
          <div class="row">


            <mat-form-field class="col-12" appearance="fill">
              <mat-label>Author</mat-label>
              <input type="email" matInput [formControlName]="'author'"
                     placeholder="Ex. Carambar">

              <mat-error *ngIf="form.get('author')?.hasError('required')">
                Author is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-12" appearance="fill">
              <mat-label>The joke</mat-label>
              <textarea matInput placeholder="Ex. It makes me feel..." [formControlName]="'text'"></textarea>
              <mat-hint>Markdown is supported</mat-hint>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent" (click)="save()">Save</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>

