<ion-card>
  <ion-card-content>
    <p>{{joke.text}}</p>
  </ion-card-content>
  <ion-card-subtitle>
    <p class="p-3">@{{joke.author}}</p>
  </ion-card-subtitle>
  <ion-item class="w-100">
    <div class="row">
      <div class="icon-text col-4">
        <mat-icon >favorite</mat-icon>
        <span>{{joke.like}}</span>
      </div>
      <div class="col-4">
        <button mat-button (click)="copy()" title="Copy to clipboard">
          <mat-icon>filter_none</mat-icon>
        </button>
      </div>
      <div class="col-4">
        <button mat-button class="float-end" (click)="likeClicked()">LIKE</button>
      </div>
    </div>
  </ion-item>
</ion-card>
